In [1]:
import pandas as pd

In [80]:
df = pd.read_csv('data/restaurant_inspections.csv')

In [81]:
# cleanup zipcodes
df = df.dropna(axis=0, subset=['ZIPCODE'])
df['ZIPCODE'] = df['ZIPCODE'].astype(int).astype(str).str.zfill(5)

df.head()

,Unnamed: 0,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,DATE
0,2,50053100,NEW TUNG HING,Brooklyn,5224,4 AVENUE,11220,9176370007,Chinese,07/19/2021,...,Cycle Inspection / Initial Inspection,40.645167,-74.013938,307.0,38.0,7600.0,3013858.0,3.008060e+09,BK32,2021-07-19
1,4,50088953,AZOGUENITA BAKERY,Queens,3761,103RD ST,11368,7184240119,Bakery Products/Desserts,03/22/2022,...,Cycle Inspection / Initial Inspection,40.752773,-73.864185,403.0,21.0,40500.0,4044327.0,4.017690e+09,QN26,2022-03-22
2,6,50115617,BURGER KING,Brooklyn,5212,5 AVENUE,11220,7187650844,Hamburgers,09/30/2021,...,Pre-permit (Operational) / Initial Inspection,40.643853,-74.011628,307.0,38.0,7600.0,3329902.0,3.008070e+09,BK32,2021-09-30
3,8,50065696,RUTA DEL SABOR,Staten Island,1278,CASTLETON AVENUE,10310,7184470930,Mexican,05/02/2022,...,Cycle Inspection / Initial Inspection,40.633887,-74.125351,501.0,49.0,13302.0,5005688.0,5.002130e+09,SI22,2022-05-02
4,9,50037780,MILLE-FEUILLE BAKERY,Manhattan,2175,BROADWAY,10024,2123626261,French,04/04/2022,...,Cycle Inspection / Initial Inspection,40.782246,-73.980898,107.0,6.0,16300.0,1030866.0,1.011680e+09,MN12,2022-04-04

In [83]:
df['DATE'] = pd.to_datetime(df['INSPECTION DATE'])
df = df.query('DATE >= 20220101')
df = df.sort_values(by=['DATE'], ascending=False)
df.head()

,Unnamed: 0,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,DATE
59876,221989,50082114,ANGELITOS DE NOCHE,Brooklyn,263,KINGS HIGHWAY,11223,9174999939,American,06/11/2022,...,Inter-Agency Task Force / Initial Inspection,40.605255,-73.980866,311.0,44.0,42600.0,3176748.0,3.066490e+09,BK29,2022-06-11
39108,145320,50082114,ANGELITOS DE NOCHE,Brooklyn,263,KINGS HIGHWAY,11223,9174999939,American,06/11/2022,...,Inter-Agency Task Force / Initial Inspection,40.605255,-73.980866,311.0,44.0,42600.0,3176748.0,3.066490e+09,BK29,2022-06-11
813,3180,50082114,ANGELITOS DE NOCHE,Brooklyn,263,KINGS HIGHWAY,11223,9174999939,American,06/11/2022,...,Inter-Agency Task Force / Initial Inspection,40.605255,-73.980866,311.0,44.0,42600.0,3176748.0,3.066490e+09,BK29,2022-06-11
50364,187236,50082114,ANGELITOS DE NOCHE,Brooklyn,263,KINGS HIGHWAY,11223,9174999939,American,06/11/2022,...,Inter-Agency Task Force / Initial Inspection,40.605255,-73.980866,311.0,44.0,42600.0,3176748.0,3.066490e+09,BK29,2022-06-11
26350,98315,50082114,ANGELITOS DE NOCHE,Brooklyn,263,KINGS HIGHWAY,11223,9174999939,American,06/11/2022,...,Inter-Agency Task Force / Initial Inspection,40.605255,-73.980866,311.0,44.0,42600.0,3176748.0,3.066490e+09,BK29,2022-06-11

In [84]:
pd.set_option('display.max_rows', 100)

dfCuisine = df.groupby(by='CUISINE DESCRIPTION').size().reset_index(name='counts')
dfCuisine.sort_values(by='counts', ascending=False)

               CUISINE DESCRIPTION  counts
2                         American    7768
16                         Chinese    4695
63                           Pizza    3468
19                      Coffee/Tea    2937
49                  Latin American    2006
7         Bakery Products/Desserts    2000
52                         Mexican    1939
44                         Italian    1711
13                       Caribbean    1649
45                        Japanese    1637
77                         Spanish    1399
14                         Chicken    1341
68                      Sandwiches    1238
24                          Donuts     996
47  Juice, Smoothies, Fruit Salads     846
36                      Hamburgers     737
81                            Thai     708
46                   Jewish/Kosher     706
4               Asian/Asian Fusion     696
40                          Indian     651
80                         Tex-Mex     633
48                          Korean     596
31                 Frozen Desserts     577
59                           Other     540
51                   Mediterranean     528
6                  Bagels/Pretzels     522
30                          French     521
53                  Middle Eastern     459
71                         Seafood     455
43                           Irish     364
35                           Greek     288
69  Sandwiches/Salads/Mixed Buffet     274
75                 Southeast Asian     265
62                        Peruvian     229
67                          Salads     210
84                      Vegetarian     203
82                         Turkish     188
1                          African     174
18                Chinese/Japanese     169
78                      Steakhouse     164
25                Eastern European     163
8                      Bangladeshi     162
83                           Vegan     157
29                        Filipino     147
10               Bottled Beverages     146
66                         Russian     141
9                         Barbecue     134
72                       Soul Food     126
60                       Pakistani     126
37                        Hawaiian     118
74         Soups/Salads/Sandwiches      94
11                       Brazilian      82
61                Pancakes/Waffles      80
21                          Creole      56
5                       Australian      55
0                           Afghan      50
79                           Tapas      42
20                     Continental      38
39                Hotdogs/Pretzels      37
57       Not Listed/Not Applicable      36
65                      Portuguese      36
34                          German      35
38                         Hotdogs      32
17                   Chinese/Cuban      30
64                          Polish      30
32               Fruits/Vegetables      29
55                    New American      25
54                        Moroccan      23
28                       Ethiopian      21
26                        Egyptian      17
33                          Fusion      16
73                           Soups      16
70                    Scandinavian      16
27                         English      13
22                    Creole/Cajun      12
12                           Cajun       9
42                         Iranian       7
76                    Southwestern       7
23                           Czech       6
41                      Indonesian       6
15                         Chilean       5
50                        Lebanese       2
3                         Armenian       2
56                      New French       2
58              Nuts/Confectionary       1

In [85]:
dfBoro = df.groupby(by='BORO').size().reset_index(name='counts')
dfBoro.sort_values(by='counts', ascending=False)

            BORO  counts
3      Manhattan   18114
2       Brooklyn   14131
4         Queens   10841
1          Bronx    4266
5  Staten Island    1518
0              0       5

In [86]:
print(df['CUISINE DESCRIPTION'].unique())

['American' 'Bangladeshi' 'Caribbean' 'Tex-Mex' 'Bakery Products/Desserts'
 'Other' 'Chicken' 'Coffee/Tea' 'Spanish' 'Mexican' 'Latin American'
 'Middle Eastern' 'Mediterranean' 'Hamburgers' 'African'
 'Juice, Smoothies, Fruit Salads' 'Indian' 'Thai' 'Sandwiches' 'Creole'
 'Pizza' 'French' 'Chinese' 'Italian' 'Australian' 'Eastern European'
 'Jewish/Kosher' 'Japanese' 'Sandwiches/Salads/Mixed Buffet' 'Donuts'
 'Vegetarian' 'Asian/Asian Fusion' 'Vegan' 'Tapas' 'Korean'
 'Bagels/Pretzels' 'Bottled Beverages' 'Russian' 'Seafood'
 'Frozen Desserts' 'Peruvian' 'Southeast Asian'
 'Not Listed/Not Applicable' 'Soups/Salads/Sandwiches' 'Hawaiian'
 'Fruits/Vegetables' 'Chinese/Japanese' 'Turkish' 'Pancakes/Waffles'
 'Steakhouse' 'Barbecue' 'Continental' 'Pakistani' 'Soul Food' 'Afghan'
 'Greek' 'Brazilian' 'Salads' 'Filipino' 'Ethiopian' 'Irish' 'Hotdogs'
 'Hotdogs/Pretzels' 'Polish' 'Portuguese' 'Indonesian' 'New American'
 'Moroccan' 'Soups' 'Chinese/Cuban' 'Southwestern' 'English' 'New French'
 'German' 'Cajun' 'Scandinavian' 'Lebanese' 'Czech' 'Egyptian' 'Fusion'
 'Creole/Cajun' 'Nuts/Confectionary' 'Chilean' 'Armenian' 'Iranian']

In [87]:
df.query('ZIPCODE == "10004"')

,Unnamed: 0,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,...,INSPECTION TYPE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,DATE
13641,50742,50032842,RETRO FITNESS,Manhattan,1,NEW YORK PLAZA,10004,6466676635,"Juice, Smoothies, Fruit Salads",06/10/2022,...,Cycle Inspection / Initial Inspection,40.702533,-74.012562,101.0,1.0,900.0,1000005.0,1.000048e+09,MN25,2022-06-10
64858,240391,50113553,POKE BOWL,Manhattan,80,BROAD STREET,10004,3475825832,Hawaiian,05/31/2022,...,Pre-permit (Operational) / Initial Inspection,40.704315,-74.011581,101.0,1.0,900.0,1000038.0,1.000110e+09,MN25,2022-05-31
30343,112985,41009267,UNDERGROUND PIZZA,Manhattan,2,WILLIAM STREET,10004,2124254442,Pizza,05/31/2022,...,Cycle Inspection / Re-inspection,40.704828,-74.009771,101.0,1.0,700.0,1000831.0,1.000280e+09,MN25,2022-05-31
58424,216729,41009267,UNDERGROUND PIZZA,Manhattan,2,WILLIAM STREET,10004,2124254442,Pizza,05/31/2022,...,Cycle Inspection / Re-inspection,40.704828,-74.009771,101.0,1.0,700.0,1000831.0,1.000280e+09,MN25,2022-05-31
25455,94952,41363485,LEO'S BAGELS,Manhattan,3,HANOVER SQUARE,10004,2127854700,Bagels/Pretzels,05/31/2022,...,Cycle Inspection / Re-inspection,40.704801,-74.009623,101.0,1.0,700.0,1000831.0,1.000280e+09,MN25,2022-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16960,63099,50117920,ARAMARK @ FISERV,Manhattan,1,BROADWAY,10004,6316828010,American,01/05/2022,...,Pre-permit (Non-operational) / Initial Inspection,40.704778,-74.014099,101.0,1.0,1300.0,1000043.0,1.000130e+09,MN25,2022-01-05
39825,148173,50111125,AMERICAN BREW + PRESS,Manhattan,4,SOUTH STREET,10004,2127422787,American,01/05/2022,...,Pre-permit (Operational) / Initial Inspection,40.701688,-74.011631,101.0,1.0,900.0,1085792.0,1.000020e+09,MN25,2022-01-05
29472,109802,50114976,787 COFFEE,Manhattan,66,PEARL STREET,10004,6464499200,Mexican,01/05/2022,...,Pre-permit (Operational) / Initial Inspection,40.703604,-74.010932,101.0,1.0,900.0,1077806.0,1.000078e+09,MN25,2022-01-05
68893,255158,50114976,787 COFFEE,Manhattan,66,PEARL STREET,10004,6464499200,Mexican,01/05/2022,...,Pre-permit (Operational) / Initial Inspection,40.703604,-74.010932,101.0,1.0,900.0,1077806.0,1.000078e+09,MN25,2022-01-05
50015,185899,50111125,AMERICAN BREW + PRESS,Manhattan,4,SOUTH STREET,10004,2127422787,American,01/05/2022,...,Pre-permit (Operational) / Initial Inspection,40.701688,-74.011631,101.0,1.0,900.0,1085792.0,1.000020e+09,MN25,2022-01-05